<div class="background">
  <div class="title-web">Chat con Long Polling</div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="dx-card">
      <div class="row m-4 justify-content-center superior-card">
        Todos los visitantes de esta página verán mensajes entre ellos.
      </div>

      <div
        [style]="{
          overflowY: 'scroll',
          height: '445px',
          marginBotton: '10px'
        }"
      >
        @for(msg of messages; track $index){
        <div class="row d-flex justify-content-center m-2">
          <div class="col-auto">
            <img width="40" height="40" [src]="msg.avatar" />
          </div>
          <div class="col my-1">
            <dx-text-box
              [value]="msg.message"
              [label]="msg.user"
              [readOnly]="true"
            ></dx-text-box>
          </div>
          <div
            class="col-auto d-flex justify-content-center align-items-center"
          >
            {{ msg.date | date : "hh:mm" }}
          </div>
        </div>
        }
      </div>

      <div class="row">
        <div class="col-8 ms-3">
          <dx-text-box
            #messageBox
            [(ngModel)]="newMessage"
            placeholder="Escribe tu mensaje..."
          ></dx-text-box>
        </div>
        <div class="col-3">
          <dx-button
            (click)="sendMessage($event, messageBox)"
            text="Enviar"
          ></dx-button>
        </div>
      </div>
    </div>
  </div>
</div>
